body {
  margin:0;
  padding:0;
  background: url('../images/wave.png');
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  position: absolute;
  top:50%;
  left: 50%;           
  margin-top: -100px;
  margin-left: -100px;
}

.login-title {
  text-align: center;
}

.login-form {
  width: 300px;
  max-width: 500px;
}

.login-form-forgot {
  float: left;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
  margin-top: 10px;
}