body {
    margin:0;
    padding:0;
    background-color: white !important;
    /*background-repeat: no-repeat;
    background-size: auto;*/
  }
  
  .registry-container {
    position: absolute;
    top: 150px;
    left: 38%;           
    /*margin-top: -100px;
    margin-left: -100px;*/
  }
  
  .registry-title {
    text-align: center;
  }
  
  .registry-form {
    width: 400px;
    max-width: 600px;
  }
  
  .registry-form-forgot {
    float: left;
  }
  
  .ant-col-rtl .registry-form-forgot {
    float: left;
  }
  
  .registry-form-button {
    width: 100%;
    margin-top: 10px;
  }